  h1 {
      text-align: center;
  }
  
  .nav-wrapper.grey.darken-1 {
      padding-bottom: 60px;
  }
  
  nav {
      padding-bottom: 10px;
      background-color: transparent;
  }
  
  .brand-logo {
      margin-left: 30px;
  }
  
  body {
      /*background: url("images/background.jpg") no-repeat fixed center;*/
      background-color: #26638F;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      font-family: 'Roboto', sans-serif;
      font-family: 'Open Sans', sans-serif;
  }
  
  main {
      flex: 1 0 auto;
  }

  #pImages  {
    display: fixed;
    float: left;
    margin: 4px;

  }

  .card.horizontal  {
    border-radius: 25px;
  }

  #linkedin {
    margin-left: 50px;
    font-size: 30px;
  }

  #a_link,
  #c_link,
  #p_link  {
    font-size: 25px;
  }