  h1 {
      text-align: center;
  }
  
  .nav-wrapper.grey.darken-1 {
      padding-bottom: 60px;
  }
  
  nav {
      padding-bottom: 10px;
      background-color: #BBBCBF;
  }
  
  .brand-logo {
      margin-left: 30px;
  }
  
  body {
      background: #F1F4F4;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }

  #pImages{
    display: flex;
    float: left;
    margin: 4px;
  }
